html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/************            HEADER STYLE           ************/



header {
    background: #707070;
}
header nav {
    color: #FFF;
}































/************              MAIN STYLE             ************/






/************           INSIDE MAIN STYLE         ************/






/************            FOOTER STYLE           ************/