/************             GENERAL            ************/
html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.item-card * {
    color: white;
}

#background {
    position: fixed;
    background: url("../img/home.png");
    /*background: red;*/
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -2;
}

#background-dark {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}

* {
    margin: 0;
    padding: 0;

}

.img-in-banderole ~ .img-in-banderole {
    margin-left: 0.8em;
}

/************              DIVERS             ************/
a:active, a {
    text-decoration: none;
    color: white;
    text-underline: none;
}


.gold-txt {
    color: #EBCFB2;
}

.italic-bold {
    font-weight: bolder;
}

h3 {
    font-size: 2.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.h-dark {
    color: #707070;
}

h4 {
    font-size: 1.6em;
    /*text-transform: uppercase;*/
    color: #FFFFFF;
}

.centered-txt {
    margin-bottom: 0.6em;
    text-align: center;
}

.lightened-txt {
    opacity: 0.5;
    margin-top: 0.4em;
    margin-left: 0.5em;
}

.centered-media {
    width: 60%;
    display: block;
    margin: 2em auto
}

.dark-card {
    background: #707070;
    margin: 2em 0;
    padding: 1em 2em;
}

/************            HEADER STYLE           ************/

/************           normal header          ************/
header {
    background: #707070;
    padding: 0.5em 3em 2em 3em;
    /*height: 100vh;*/
    max-height: 900px;
}

header * {
    color: #FFF;
}

header {
    z-index: 1;
    position: sticky;
    top: 0;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/************          smalled header         ************/
header {
    background: #707070;
    padding: 0.5em 3em 2em 3em;
    /*height: 100vh;*/
    max-height: 900px;
}

header * {
    color: #FFF;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/******             le logo              ******/

header #logo a img {
    width: 145px;
    margin-bottom: 2.5em;
}

/******             le nav              ******/

header nav ul li {
    list-style: none;
}

header nav ul li ~ li {
    margin-left: 1.2em;
}

header nav ul li a em {
    font-size: 0.8em;
}

header nav ul li a {
    font-size: 1.2em;
    /*text-transform: uppercase;*/
}

/******             le titre              ******/

header h1 {
    font-size: 6.8em;
    margin-left: 0.5em;
    color: #FFFFFF;
    text-transform: uppercase;
}

header h1 ~ h1 {
    margin-left: 1.2em;
}

/******            l'accroche             ******/

header #support {
    display: flex;
    justify-content: end;
    /*background: #8d8d8d;*/
    margin-top: 5em;
    margin-right: 9em;
}

header #support div h4 {
    text-align: end;
    font-size: 2.2em;
    font-weight: normal;
}

header #support div p {
    margin-top: 0.55em;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

header p {

}


/************              MAIN STYLE             ************/
main {
    padding: 5em 3em 3em 3em;
}

/******                     wrapper                 ******/
.wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 2em;
}

.wrapper-nogap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
}

.box-x {
    display: flex;
    /*justify-content: space-between;*/
}

.h-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    /*grid-column-gap: 0px;*/
    grid-row-gap: 2em;
}

.h-left-nogap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
    /*grid-column-gap: 0px;*/
    grid-row-gap: 0;
}

#h-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /*grid-column-gap: 0px;*/
    grid-row-gap: 31px;
}

#h-news {
    background: blue;
}

#h-articles {
    background: green;

}

#h-categories {
    background: yellow;
}

#h-shops {
    background: red;
    min-height: 25em;
}

/******                     contact                 ******/
#h-form {
    margin-top: 4em;
    background: #457B9D;
    padding: 1em;
}

#h-form h3 {
    margin-bottom: 0.2em;
}

#h-form input, textarea {
    padding: 0.4em 0.6em;
    /*text-transform: uppercase;*/
    font-size: 1.2em;
    font-weight: normal;
    color: #707070;
    letter-spacing: 0.05em;
}

#h-form input ~ input {
    margin-left: 1.2em;
}

#h-form textarea {
    margin-top: 1.1em;
}

#h-form div ~ div {
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

#h-form div ~ div input {
    /*font-size: 1.2em;*/
    background: #EBCFB2;
    color: black;
}

/************             CATALOG           ************/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.2em;
    outline: none;
    border-radius: 0.5em;
}

.sliiide div {
    font-size: 0.65em;
    color: #707070;
}

.promo {
    justify-content: flex-end;
    border: #457B9D solid 3px;

}

.promo-around {
    height: 3em;
    min-width: 14em;
    position: relative;
    top: 3em;
    left: -2em;
}

.promo-display {
    height: 80%;
    background: #E63946;
    padding-top: 0.3em;
}
.promo-display h4 {
    text-align: center;
    margin: auto;
}

.promo-details h6{
    /*height: 20%;*/
    background: #457B9D;
    color: #FFFFFF;
    text-align: center;
}

/************               SHOPS              ************/
.one-shop div {
    display: flex;
    justify-content: space-between;
}

.button1 {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.button2 {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}


#items-box {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}


.item-card {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}


/************            FOOTER STYLE           ************/
footer {
    margin: -1em 3em 2em 3em;
    padding: 1.5em 0;
    /*margin-bottom: 2em;*/
    text-align: center;
    background: rgba(112, 112, 112, 0.6);
}